.welcome-banner {
  height: 50vh;
}
.card-img-top {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -70px;
  margin-left: 80px;
  filter: grayscale(100%);
}

.card-title {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: rgba(20, 30, 76, 0.9);
  border-radius: 5px;
  padding: 4px 0;
  margin-bottom: 26px;
  margin-top: -28px;
  position: relative;
  z-index: 1 !important;
}
.trainers {
  padding-top: 150px;
}
