.welcome-banner {
  height: 50vh;
}
.material-icons {
  color: #666;
}
.card-text {
  color: #666;
}
.card-img-top{
  width: auto;
  height: 130px;
}
.card-text img{
  width: 100px;
  height: 100px;
  padding-left: 10px;
}